@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Oswald', sans-serif; }

/*h1{
    font-size: nth($font-size, 3 );
    color: nth($colores, 4)  ;
}
*/
/*
img{
    width: $ancho / 2 + 10;
}
*/
/*$boton:(
//key - value 
bg-boton: black,
boder-boton: 2px solid tomato,
color-texto: white,
ancho: 150px,
);*/
/*.boton{
    background-color: map-get($boton, bg-boton);
    border: map-get($boto, boder-boton );
    width: map-get($boton, ancho);
}*/
/*%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria{
    background-color: aqua;
    border: solid black 2px;
    @extend %flex;
}*/
/*@mixin flex ($flex, $justify, $aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}

.contenedor{
    @include flex (flex, space-between, center);
}*/
/*OPERADORES DE COMPARACION
== igual
!= diferente
> mayor que
< menor que
>= mayor o igual
<= menor o igual 
*/
/*
fi (condificonal){se ejecuta este codido}
else{se ejecuta este otro}
*/
/*@mixin modos ($darkmode){
    @if $darkmode == black{
        border: solid 2px blueviolet;
    }@else{
        border: solid 2px yellow;
    }
}

.bd-condiction{
    @include modos (pink)
}*/
/*@for $i from 1 through 6{
    .contenedor # {$i}{
        order: $i;
    }
}*/
/*---HEADER---*/
header {
  background-color: pink;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    font-size: 40px;
    font-weight: 300;
    color: white;
    text-align: start;
    /*span{
    }*/ }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin: 10px 15px 15px 10px; }
      header nav ul li a {
        list-style: none;
        text-decoration: none;
        color: white; }
        header nav ul li a:hover {
          color: black;
          transition: 1s; }

/*.bienvenidos{
    div{
        h2{

        
        }
        p{

        }
    }
    img{

    }

}
*/
.servicios h2 {
  font-size: 10px;
  color: white;
  background-color: pink;
  text-align: center;
  padding: 5px;
  font-size: 40px;
  font-weight: 300;
  color: white; }

.servicios .servicios-contenedor div {
  font-size: 15px;
  color: white;
  background-color: pink;
  border: 3px solid pink;
  width: 205px;
  height: 260px;
  margin: 60px;
  text-align: center;
  transition: 1s; }
  .servicios .servicios-contenedor div:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(250, 158, 202, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(250, 158, 202, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(250, 158, 202, 0.75); }
  .servicios .servicios-contenedor div img {
    width: 200px;
    height: 200px; }
  .servicios .servicios-contenedor div h3 {
    font-size: 20px; }
  .servicios .servicios-contenedor div a {
    text-decoration: none;
    color: pink;
    font-weight: bold;
    background-color: white;
    padding: 0px 5px; }

footer {
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px; }
  footer div img {
    width: 50px;
    height: 50px;
    transition: 1s; }
    footer div img:hover {
      transform: scale(1.1); }

@media screen and (max-width: 650px) {
  header {
    flex-direction: column; }
  .hero h2 {
    font-size: 45px; }
  .hero p {
    font-size: 20px; } }

@media screen and (max-width: 465px) {
  header nav ul {
    flex-direction: column;
    text-align: center; }
  header nav ul li {
    margin: 5px; } }
