@media screen and (max-width:650px){
    header{
        flex-direction: column;
    }

    .hero h2{
        font-size: 45px;
    }

    .hero p{
        font-size: 20px;
    }
}

@media screen and (max-width:465px){
    header nav ul{
        flex-direction: column;
        text-align: center;
    }
    header nav ul li{
        margin: 5px;
    }
}